@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Health</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container body-content">
        <h2>Health</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Database</th>
                    <th>Connected?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>SQL Server Database</td>
                    <td>
                        @if (ViewBag.SqlServerIsConnected ?? false)
                        {
                            <p style="color:green">Connected</p>
                        }
                        else
                        {
                            <p style="color:red">Fail</p>
                        }
                    <td>
                </tr>
                <tr>
                    <td>SQLite Database</td>
                    <td>
                        @if (ViewBag.SQLiteIsConnected ?? false)
                        {
                            <p style="color:green">Connected</p>
                        }
                        else
                        {
                            <p style="color:red">Fail</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>