
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}
<div class="jumbotron">
    <h2>Index2</h2>
</div>
<label>Last Visited the Home page: </label> ViewBag.LastVisited
<div class="row">
    <div class="col-md-4">
        <p>This is body.</p>
    </div>
    @section footer{
        <p class="lead">This is footer section.</p>
    }
</div>
